.container {
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
}

.bg {
  background: none;
  width: 700px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  transform-style: preserve-3d;
  margin: 40px;
  position: relative;
}

h1 {
  position: absolute;
  transform-origin: center center;
  color: darkorange;
  transform: translateZ(99px);
}

.container:hover h1 {
  color: deeppink;
}

.float1 {
  position: absolute;
  transform-origin: center center;
  transition: all 500ms linear;
  animation: float 4s ease-in-out infinite 4s;
  transform: translateZ(5px);
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: translateY(0px) translateZ(5px);
  }
  50% {
    transform: translateY(30px) translateZ(5px);
  }
  100% {
    transform: translateY(0px) translateZ(5px);
  }
}

.float2 {
  position: absolute;
  transform-origin: center center;
  transition: all 500ms linear;
  animation: float2 5s ease-in-out infinite 5s;
  transform: translateZ(5px);
  animation-iteration-count: infinite;
}

@keyframes float2 {
  0% {
    transform: translateY(0px) translateZ(5px);
  }
  50% {
    transform: translateY(-40px) translateZ(5px);
  }
  100% {
    transform: translateY(0px) translateZ(5px);
  }
}

.bling {
  transform-origin: center center;
  transition: all 500ms linear;
  animation: slow 1.25s linear 0.5s;
  /* animation: slow 1.5s linear 1.5s, fast 1s linear 1s, slow2 1s linear 1s; */
  animation-iteration-count: infinite;
  position: absolute;
  transform: translateZ(77px);
  transform-origin: 29% 26%;
}

@keyframes slow {
  from {
    transform: rotate(0deg) translateZ(77px);
  }
  to {
    transform: rotate(360deg) translateZ(77px);
  }
}

@keyframes fast {
  from {
    transform: rotate(0deg) translateZ(77px);
  }
  to {
    transform: rotate(10deg) translateZ(77px);
  }
}

.bling2 {
  transform-origin: center center;
  transition: all 500ms linear;
  animation: slow 1.25s linear 0.5s;
  /* animation: slow 1.5s linear 1.5s, fast 1s linear 1s, slow2 1s linear 1s; */
  animation-iteration-count: infinite;
  position: absolute;
  transform: translateZ(77px);
  transform-origin: 72% 72%;
}

@keyframes slow {
  from {
    transform: rotate(0deg) translateZ(77px);
  }
  to {
    transform: rotate(360deg) translateZ(77px);
  }
}

.fill {
  transform: translateZ(15px);
  position: absolute;
  fill: #dbe120;
}

.black {
  transform: translateZ(38px);
  position: absolute;
  /* z-index: 3; */
}

.bubbles {
  transform: translateZ(24px);
  position: absolute;
}
